# LaTeX output
*.aux
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.snm
*.toc
*.pdf
*.ps
*.dvi
*.synctex.gz

# Generated source and binary code
__pycache__/
*_ui.py

# Personal IDE project files
.idea/workspace.xml
.idea/tasks.xml
.idea/cadex.iml
.idea/misc.xml

# Generic data
*.dat

